.project-container
  margin: 0 auto
  padding: 30px 0
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 20px
  a
    display: block
    text-decoration: none
  .project-unit
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    cursor: pointer
    display: block
    width: 100%
    aspect-ratio: 1
    position: relative
    overflow: hidden
    background:
      position: center center
      repeat: no-repeat
      size: cover
    .project-overlay
      +position(absolute, 100% 0px null 0px)
      height: 100%
      background: fade-out(#333, 0.5)
      text-align: center
      +display(flex)
      +align-items(center)
      +justify-content(space-around)
      strong
        display: block
        padding: 20px
        color: white
        line-height: 1.2
        font:
          size: 20px
          weight: normal
    &:hover .project-overlay
      +position(absolute, 0px 0px null 0px)

@media (max-width: 992px)
  .project-container
    grid-template-columns: repeat(2, 1fr)

@media (max-width: 576px)
  .project-container
    grid-template-columns: 1fr

