@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 300;
  src: local('Monaco'), url(//path-to-your-font/Monaco.woff) format('woff');
}
@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 400;
  src: local('Monaco'), url(//path-to-your-font/Monaco.woff) format('woff');
}
@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 700;
  src: local('Monaco'), url(//path-to-your-font/Monaco.woff) format('woff');
}