<div class="image-container">
  <!-- Unique ID for the checkbox based on the image name to handle multiple images on one page -->
  <input type="checkbox" id="zoom-{{ include.image }}" class="zoom-checkbox" style="display:none;">
  
  <label for="zoom-{{ include.image }}" class="zoom-label">
    <img src="{{ site.github.url }}/assets/img/{{ include.image }}" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text">
        {% if include.text %}
          {{ include.text }} <i class="fa fa-search-plus" aria-hidden="true"></i>
        {% else %}
          Enlarge <i class="fa fa-search-plus" aria-hidden="true"></i>
        {% endif %}
      </div>
    </div>
  </label>

  <div class="lightbox">
    <label for="zoom-{{ include.image }}" class="close-lightbox"></label>
    <img src="{{ site.github.url }}/assets/img/{{ include.image }}" alt="Enlarged Image">
  </div>
</div>
